.header {
  align-items: center;
  justify-content: center;
  background: #3d4a46;
  height: 120px;
  width: 100%;
  display: flex;
  color: #ffffff;
  font-size: 40px;
}

.content h3 {
  font-size: 42px;
  font-weight: 700;
  color: white;
}
.exercisebutton {
  background: transparent;
  color: #03c5d1;
  border: 1px solid #03c5d1;
}

.Button.small {
  padding: 10px 20px;
  max-height: 40px;
}

.Button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 600;
  font-size: 16px;
  outline: none;
  transition: all 0.2s ease;
  white-space: nowrap;
}

.content .feed {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  grid-gap: 10px;
  gap: 10px;
  margin-top: 50px;
  padding-bottom: 50px;
}

.ending {
  margin: 0 auto;
}

.empty h2 {
  font-size: 32px;
  color: #fff;
  padding: 10px 20px;
  border: 1px solid #fff;
  border-radius: 4px;

  display: block;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
